* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 60px;
    width: 130vw;
    /* Use 100% to ensure it extends fully */
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: small;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    /* Ensure padding is included in the width calculation */
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 100px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}

.modal {
    position: absolute;
    top: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 2px;
}

.modal-div {
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

select {
    font-family: "Roboto", sans-serif;
    padding: 3px;
    border-radius: 4px;
    height: 25px;
    width: 100px;
    font-size: small;
}

.modal-div p {
    opacity: 50%;
}